<% layout('layouts/boilerplateWidoczki') %>
    <div class="row">
        <h1 class="text-center">
            Edytuj Widok
        </h1>
        <div class="col-6 offset-3">

            <h1> Edytuj Widok</h1>
            <form action="/widoczki/<%= widoczek._id %>?_method=PUT" method="POST" novalidate class="validated-form">
                <!-- NAZWA -->
                <div class="mb-3">
                    <label class="form-label" for="name">Nazwa</label>
                    <input class="form-control" type="text" id="name" name="widoczek[name]" value="<%= widoczek.name %>" required>
                    <div class="valid-feedback green">
                        Dobrze!
                    </div>
                </div>
                <!-- LOKALIZACJA -->
                <div class="mb-3">
                    <label class="form-label" for="location">Lokalizacja</label>
                    <input class="form-control" type="text" id="location" name="widoczek[location]" value="<%= widoczek.location %>" required>
                    <div class="valid-feedback green">
                        Dobrze!
                    </div>
                </div>
                <!-- ADRES -->
                <div class="mb-3">
                    <label class="form-label" for="image">Adres obrazu</label>
                    <input class="form-control" type="text" id="image" name="widoczek[image]" value="<%= widoczek.image %>" required>
                    <div class="valid-feedback green">
                        Dobrze!
                    </div>
                </div>
                <!-- CENA -->
                <!-- <div class="mb-3">
                    <label class="form-label" for="price">Cena</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price">€</span>
                        <input type="text" class="form-control" placeholder="0.00" aria-label="Cena"
                            aria-describedby="price" name="widoczek[price]" value="" required>
                    </div>
                    <div class="valid-feedback green">
                        Dobrze!
                    </div>
                </div> -->
                <!-- OPIS -->
                <div class="mb-3">
                    <label class="form-label" for="description">Opis</label>
                    <textarea class="form-control" type="text" id="description" name="widoczek[description]" required><%= widoczek.description %></textarea>
                    <div class="valid-feedback green">
                        Dobrze!
                    </div>
                </div>
                <!-- PRZYCISK -->
                <button class="btn btn-success">Zatwierdź</button>
            </form>
            <p></p>
            <a class="mb-3" href="/widoczki/<%= widoczek._id %>">Wróć do widoczku</a>
        </div>
    </div>