<% layout('layouts/boilerplateWidoczki') %>
    <div class="row show-card">
        <div class="col-<% if(currentUser){ %><%=6%><% } else { %><%=6%><% } %>">
            <div class="card">
                <img src="<%= widoczek.image %>" class="card-img-top" alt="Oops">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= widoczek.name %>
                    </h5>
                    <p class="card-text">
                        <%= widoczek.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h6><em>Lokalizacja:</em></h6>

                        <%= widoczek.location %>

                    </li>
               
                    <li class="list-group-item">
                        <h6><em>Autor</em></h6>
                        <%= widoczek.author %>
                    </li>
                    <% if (widoczek.reviews[0]){ let count =0; let sum=0; widoczek.reviews.forEach(element=>{return sum+=element.rating, count++;}); avgRating = sum/count; %> 
                    <li class="list-group-item">
                        <h6><em>Średnia Ocen:</em></h6>
                        <%= avgRating.toFixed(2) %>
                    </li>
                    <% }%> 
                </ul>
                <% if(currentUser){if(currentUser.username==widoczek.author) {%>
                    <div class="card-body">
                        <a class="card-link btn btn-info" href="/widoczki/<%= widoczek._id %>/edit">Edytuj Widoczek</a>
                        <form class="d-inline" action="/widoczki/<%=widoczek._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger ">Usuń Widoczek</button>
                        </form>
                    </div>
                    <% }} %>
            </div>


        </div>
        <div class="col-6">
            <h2>Zostaw opinię:</h2>
            <form action="/widoczki/<%= widoczek._id %>" method="POST" novalidate class='validated-form'>


                <div class='mb-3'>
                    <!-- starability -->
                    <fieldset class="starability-growRotate ">
                        <legend>Ocena:</legend>
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                    <!--  -->
                
                </div>
                <div class='mb-3'>
                    <label for="body" class="form-label">Opinia</label>
                    <textarea name="review[body]" id='body' class="form-control" cols="30" rows="10"
                        required></textarea>
                </div>
                <% if(currentUser){ %>
                    <div class="mb-3">
                        <label class="form-label" for="author">Zalogowany jako:</label>
                        <input class="form-control disabled" type="text" id="author" name="review[author]"
                            value='<%= currentUser.username %>' required readonly></input>
                        <div class="valid-feedback green">
                            Dobrze!
                        </div>
                    </div>
                    <% } %>


                        <button id="review" type="submit" class='btn btn-success'>Dodaj Opinię</button>
            </form>

            <% for (let review of widoczek.reviews){ %>


                <div class="card review">
                    <div class="mb-3 card-body">
                        <div class="card-body">
                            <h5 class="review-author">

                                <%= review.author %>
                            </h5>

                            <p class="starability-result" data-rating="<%=review.rating %>">
                                Ocena: <%= review.rating %>
                            </p>

                        </div>
                        <div class=" card-text review-text">
                                <%= review.body %>
                        </div>
                        <% if(currentUser){if(currentUser.username==review.author) {%>
                            <form action="/widoczki/<%= widoczek._id %>/reviews/<%= review._id %>?_method=DELETE"
                                method="POST">
                                <button class=" btn btn-sm btn-danger removeReview"> Usuń Opinię </button>
                            </form>
                            <% }} %>
                    </div>
                </div>
                <% } %>
        </div>
    </div>