<% layout('layouts/boilerplateWidoczki') %>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="<%= widoczek.image %>" class="card-img-top" alt="../img/default.jpg">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= widoczek.name %>
                    </h5>
                    <p class="card-text">
                        <%= widoczek.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5>
                        <%= widoczek.location %></h5>
                    </li>
                    <li class="list-group-item">
                        <h6>Cena</h6>
                        <%= widoczek.price %>€ za jedno spojrzenie
                    </li>
                    <li class="list-group-item">
                        <h6>Autor</h6>
                        <%= widoczek.author %> 
                    </li>
                </ul>
                <% if(currentUser==widoczek.author) {%> 
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/widoczki/<%= widoczek._id %>/edit">Edytuj Widoczek</a>
                    <form class="d-inline" action="/widoczki/<%=widoczek._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger ">Usuń Widoczek</button>
                    </form>
                </div>
                <% } %> 
            </div>


        </div>
        <div class="col-6">
            <h2>Zostaw opinię:</h2>
            <form action="/widoczki/<%= widoczek._id %>" method="POST" novalidate class='validated-form'>
                <div class='mb-3'>
                    <label for="body" class="form-label">Ocena</label>
                    <input name='review[rating]' id='rating' class='form-range' type="range" min='1' max='5'>
                </div>
                <div class='mb-3'>
                    <label for="body" class="form-label">Opinia</label>
                    <textarea name="review[body]" id='body' class="form-control" cols="30" rows="10"
                        required></textarea>
                </div>
                <% if(currentUser){ %>
                    <div class="mb-3">
                        <label class="form-label" for="author">Zalogowany jako:</label>
                        <input class="form-control disabled" type="text" id="author" name="review[author]" value='<%= currentUser.username %>' required readonly></input>
                        <div class="valid-feedback green">
                            Dobrze!
                        </div>
                    </div>
                    <% } %>


                <button id="review" type="submit" class='btn btn-success'>Dodaj Opinię</button>
            </form>

            <% for (let review of widoczek.reviews){ %>
               
                
                <div class="card review">
                    <div class="mb-3 card-body">
                        <div class="card-body">
                            <h5 class="review-author"><%= review.author %></h5>
                            <h6>Ocena: <%= review.rating %>
                            </h6>
                        </div>
                        <div class="card-text review-text">
                            <%= review.body %>
                        </div>
                        <% if(currentUser.username== review.author) {%> 
                        <div>
                            <form action="/widoczki/<%= widoczek._id %>/reviews/<%= review._id %>?_method=DELETE"
                                method="POST">                                
                                <button class=" btn btn-sm btn-danger removeReview"> Usuń Opinię </button>                            
                            </form>
                        </div>
                        <% } %> 
                    </div>
                </div>
                <% } %>



        </div>
    </div>