<% layout('layouts/boilerplateHome') %>

    <div class="container-fluid text-center movies-box">
        <div class="col-12">
            <% if(movie.Poster=="N/A"){ %> <img class="img" src="../../public//assets/images/Movies/movie-template.jpg"> <% } else { %> <img class="img" src="<%= movie.Poster %>"> <% } %> 
            <div class="card-body">
                <h5 class="card-title text-center">
                    <%= movie.Title %>
                </h5>
                <div>Rok: <%= movie.Year %>
                </div>
                <div>Reżyser: <%= movie.Director %>
                </div>
                <div>Aktorzy: <% for(actor of movie.Actors){%><%= actor %><% } %>
                </div>
                <div>Ocena IMDB: <%= movie.imdbRating %>
                </div>
                <div><a href="https://www.imdb.com/title/<%= movie.imdbID %>/">IMDB link</a>
                </div>
            </div>


        </div>
        <h3><a href="/movies">Powrót do wyszukiwania</a></h3>
    </div>