<% layout('layouts/boilerplateHome') %>

    <div class="container-fluid text-center">
        <div class="col-12">
            <img class="img" src="<%= movie.Poster %>">
            <div class="card-body">
                <h5 class="card-title text-center">
                    <%= movie.Title %>
                </h5>
                <div>Rok: <%= movie.Year %>
                </div>
                <div>Reżyser: <%= movie.Director %>
                </div>
                <div>Aktorzy: <% for(actor of movie.Actors) { %><%= actor %><% } %> 
                </div>
                <div>Ocena IMDB: <%= movie.Ratings[0].Value %>
                </div>
            </div>


        </div>
    </div>